---
BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp03
SortIncludes: "true"
SortUsingDeclarations: "true"
UseTab: Never
IndentWidth: 4
IncludeBlocks: Regroup
PointerAlignment: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
AccessModifierOffset: -4
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
