__pycache__/
.idea/
.mypy_cache
.ninja_*
.vs/
.vscode/
*.pyc
build.ninja
build/
ctx.c
include/baserom.dol
objdiff.json
orig/*/*
!orig/*/.gitkeep
tools/*.dll
tools/*.exe
tools/codewarrior/*
tools/old/*.dll
tools/old/*.exe
